# 追踪样板docx文件
!reference.docx

# 忽略所有pdf文件
*.pdf

# 忽略所有md文件
*.md

# 追踪必要md文件
!SKILL.md
!/README.md
!AGENTS.md

# 忽略所有doc文件夹
doc/

# 忽略python中间文件
__pycache__/

# 追踪sample_project文件夹
!src/latex-to-word/examples/sample_project/

# 追踪rules文件夹
!src/latex-to-word/rules/*.md
